.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #EFEFEF;
    border-radius: 16px;
    padding: 12px;
    width: 100%;
    height: 500px;
  }
  
  .wrapper > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 16px;
  }
  
  .buttonsWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .buttonsWrapper > button {
    padding: 8px;
    border-radius: 8px;
    width: 100px;
    border: none;
    font-size: 16px;
  }
  
  .editButton {
    background: #FFD700;
    color: black;
    font-weight:600;
  }
  
  .deleteButton {
    background: red;
    color: white;
    font-weight:600;
  }


  .like-dislike-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .like-button,
  .dislike-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: 40px; /* Исправляем размер кнопок */
    height: 40px;
  }
  
  .like-icon,
  .dislike-icon {
    width: 24px; /* ✅ Указываем точный размер */
    height: 24px;
  }